* { margin: 0; padding: 0;}

body, html { height:100%; }

#gameCanvas {
    position:absolute;
    width:100%;
    height:100%;
}

img.centered
{
	position: absolute;
	max-width: 80%;
	top: 10%;
	left: 10%;
}

img.centered:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.centered {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.centered {
      max-height: 90%;
  }
}